<!-- template.html -->
{% load static %}
<html>
<head>
	<title>Fan Ma</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

<div class="container-fluid">

<div class="col-md-3" style="sbackground-color:#F24150">
<a href=""><img class="banners" src="{% static 'img/Montreal_Skylinee.jpg' %}"></a>
EKKEKEKE
</div>

<div class="col-md-3" style="sbackground-color:#433BE8">
ASDASDAd
</div>

<div class="col-md-3" style="sbackground-color:#16D576">
ASDASD
</div>

<div class="col-md-3" style="sbackground-color:#F257F0">
QQQQQ
</div>

<div id="background" >
<img id ="backgroundimg" src="{% static 'img/Montreal_Skylinee.jpg' %}">
</div>
</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'js/frontpage.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static 'css/frontpage.css' %}">
	<script type="text/javascript">

	</script>
</body>
</html>