<!-- template.html -->
{% load static %}
<html>
<head>
	<title>Fan Ma</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

<div class="container-fluid">

<div class="centered-top">

<button type="button" class="btn Intro">Intro</button>  &nbsp;  &nbsp;
<button type="button" class="btn Academics">Academics</button>  &nbsp;  &nbsp;
<button type="button" class="btn">Projects</button>  &nbsp;  &nbsp;
<button type="button" class="btn Gallery">Gallery</button>  &nbsp;  &nbsp;


</div>
<div class="centered">

<div class="view introview">
<div class="introtext text">
<center><b>On the Road, ready to Code</b></center>
dasfdfad adsf adsf wqe fasd gga wegq asd fads fadsf adsf ef wef  frgnqior nogiudfn gkjf nlagkjsdng jwe rnsdnf jkfae pe fnpue npdsjfadslkfj nasdlf jeqnwlkj fnlkansddfn kadsknf ladfn amsdf dsmfn asdlf lkdfm dslkmfalkm sdfklamsdklf maksdfm alkdsfm laksdmflkadsmflkadsmfldksmfdlkasmflkasdmflkasmdflksamflkamfklmasdlkfmlaskdfmaldskmf l wemf mqwoeifm oimasidmf lwqke mlkm alkm dlkmf oeqi nfqoi nlasnf klen elqkn lkqnf felkqn leqwkn qlwekfn lqkn eklqn ef msdanfm ,n dsm,f,.mqw mnqewrj naksjfdan sldkfjsn lkdjf nqlekjf nlasdkjf nasdmf nasdf, masndm,f asdf,. masdnmf, asdf,mn sm,d.a,dmfn ma.sd,mfn ma,sd.f,m ansdm,f. a,msdnfma. sd,mfn sdmf,m nweqjkrn jqkwler qwoienr ewn gf dfgertwerrwet
</div>
</div>

</div>



<div id="background" >
<img id ="backgroundimg" src="{% static 'img/Montreal_Skyline.jpg' %}">
</div>
</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'js/frontpage.js' %}"></script>
	<script src="{% static 'js/sonic.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static 'js/skrollr.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/frontpage.css' %}">
	<script type="text/javascript">

	</script>
</body>
</html>