<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- bootstrap -->

		<link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
		<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet"/>

		<title>{% block title %} Photogeneric {% endblock %}</title>
	
		{% block added_head %} Anything You need to add in the head {% endblock %}
	</head>
	<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
       <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="brand" href="/photoapp/">Photogeneric</a>

           <div class="nav-collapse collapse">
               <ul class="nav pull-right">
                   {% if user.is_authenticated %}
		<li>
                        {% if user.userprofile.picture %}
                                <img src = "{{ user.userprofile.picture.url }}" height="100px" width="100px"alt="profile pic">
                        {% endif %}
                    </li>

                    <li class="navbar-text">Welcome, {{ user.username }}!</li>
                    <li> <a href = '/photoapp/upload_picture/'>Upload a Picture!</a></li>
                    <li><a href="/photoapp/logout/">Logout</a></li>
                   {% else %}
                    <li><a href="/photoapp/register/">Register</a></li>
                    <li><a href="/photoapp/login/">Login</a></li>

               </ul>
               <ul class="nav"></ul>
                   {% endif %}

           </div>
           <!--/.nav-collapse -->
       </div>
   </div>
</div>

<hr>
{% block body_block %}
{% endblock %}

	
	<!-- javascript put here so pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% block scripts %}{% endblock %}
	</body>
</html>
