{% extends "photoapp/base.html" %}
{% load static %}


{% block added_head %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<style>
{% for image in allPictures %}
.bg1{
    background-image:url({{ image.picture.url}});    
}
.bg1, .bg2, .bg3, .bg4{
    background-repeat:no-repeat;
}
{% endfor %}

</style>




{% endblock %}

{% block body_block %}

{% if allPictures %}




<div class="container-fluid">

<div class="row-fluid">
 <!--<button id="leftButton" onclick='moveLeft()'>&lt;</button>
  <button id="rightButton" onclick='moveRight()'>&gt;</button>-->
<div class="awesome-container">
<div class="packery tag-class">
{% for image in allPictures %}
	<div class="item"><img src="{{ image.picture.url }}" alt="{{ image.title }}" date="{{ image.date }}"/></div>
  {{ image.title }}
  {{ image.date }}
{% endfor %}

{% else %}
<p> No Pictures yet, Upload some! </p>

{% endif %}

</div>
<div id="caption">Photo Caption</div>
</div>
</div>
{% if user.is_authenticated %}
<div class="navbar navbar-inverse navbar-fixed-bottom">
   <div class="navbar-inner">
       <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
<form class="navbar-search pull-left form-inline" action="/photoapp/upload_picture/", method="POST", enctype="multipart/form-data">

{% csrf_token %}
{{ form.non_field_errors}}
{{ form.picture.errors}} 
{{ form.picture }}
Give it a snazzy title!
{{ form.title}}

<input class = "btn search-query"  style="float: right" style="height: 40px"type="submit" value=Upload/>
</form>

           <div class="nav-collapse collapse">
               <ul class="nav pull-right">
               <button class="btn" id="switchView" onclick="">O</button>
                   {% if user.is_authenticated %}

        <li>

                        {% if user.userprofile.picture %}
                                <img src = "{{ user.userprofile.picture.url }}" height="100px" width="100px"alt="profile pic">
                        {% endif %}
                    </li>

                    <li class="navbar-text">Welcome, {{ user.username }}!</li>
                    <li> <a href = '/photoapp/upload_picture/'>Upload a Picture!</a></li>
                    <li>      <a href="/photoapp/logout/">Logout</a></li>
                   {% else %}
                    <!--<li><a href="/photoapp/register/">Register</a></li>
                    <li><a href="/photoapp/login/">Login</a></li>-->
               </ul>
               <ul class="nav"></ul>
                   {% endif %}

           </div>
           <!--/.nav-collapse -->
           {% endif %}
       </div>
   </div>
</div>

{% endblock %}
{% block scripts %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script><script src="{% static 'js/jquery.mobile-1.4.3.js' %}"></script>
  <script type="text/javascript">


  </script>
  <script src="{% static 'js/isotope.js' %}"></script><script src="{% static 'js/packery-mode.js' %}"></script><script src="{% static 'js/imagesLoaded.js' %}"></script><script src="{% static 'js/draggabilly.js' %}"></script><script src="{% static 'js/photo2.js' %}"></script><script src="{% static 'js/photo3.js' %}"></script>{% endblock %}

