{% extends "photoapp/base.html" %}
{% load static %}


{% block added_head %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<style>
{% for image in allPictures %}
.bg1{
    background-image:url({{ image.picture.url}});    
}
.bg1, .bg2, .bg3, .bg4{
    background-repeat:no-repeat;
}
{% endfor %}

</style>




{% endblock %}

{% block body_block %}

{% if allPictures %}




<div class="container-fluid">
<div class="row-fluid">
<div class ="span12">


<div id="littleBoxes" class="littleBoxes">
    <div class="boxlink bg1" style="top:0px;left:0px;">
        <a href="">About</a>
        <div class="boxcontent">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
    <div class="bg5"
            style="background-position:-90px 0;top:0px;left:95px;"></div>
    <div class="bg5"
            style="background-position:-180px 0;top:0px;left:190px;"></div>
    <div class="bg5"
            style="background-position:-270px 0;top:0px;left:285px;"></div>
 
    <div class="bg5"
            style="background-position:0 -90px;top:95px;left:0px;"></div>
    <div class="boxlink bg2"
            style="top:95px;left:95px;">
        <a href="">Menu</a>
        <div class="boxcontent">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
    <div class="bg5"
            style="background-position:-180px -90px;top:95px;left:190px;"></div>
    <div class="bg5"
            style="background-position:-270px -90px;top:95px;left:285px;"></div>
 
    <div class="bg5"
            style="background-position:0 -180px;top:190px;left:0px;"></div>
    <div class="bg5"
            style="background-position:-90px -180px;top:190px;left:95px;"></div>
    <div class="boxlink bg3"
            style="top:190px;left:190px;">
        <a href="">Chef</a>
        <div class="boxcontent">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
    <div class="bg5"
            style="background-position:-270px -180px;top:190px;left:285px;"></div>
 
    <div class="bg5"
            style="background-position:0 -270px;top:285px;left:0px;"></div>
    <div class="bg5"
            style="background-position:-90px -270px;top:285px;left:95px;"></div>
    <div class="bg5"
            style="background-position:-180px -270px;top:285px;left:190px;"></div>
    <div class="boxlink bg4"
            style="top:285px;left:285px;">
        <a href="">Contact</a>
        <div class="boxcontent">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
</div>
</div>
</div>

<div class="row-fluid">
<div class="span12">
<div id="awesome-container">
<div id="picture-display">
{% for image in allPictures %}
	<img src="{{ image.picture.url }}">{{ image.picture.name }}
{% endfor %}

{% else %}
<p> No Pictures yet, Upload some! </p>

{% endif %}
</div>
</div>
<form action="/photoapp/upload_picture/", method="POST", enctype="multipart/form-data">
{% csrf_token %}
{{ form.non_field_errors}}
{{ form.picture.errors}} {{ form.picture }}
<input type="submit" value=Upload/>
</form>
</div>

</div>
</div>
{% endblock %}
{% block scripts %}<script src="{% static 'js/photo2.js' %}"></script><script src="{% static 'js/photo3.js' %}"></script>{% endblock %}

