{% extends "photoapp/base.html" %}
{% load static %}


{% block added_head %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<style>
{% for image in allPictures %}
.bg1{
    background-image:url({{ image.picture.url}});    
}
.bg1, .bg2, .bg3, .bg4{
    background-repeat:no-repeat;
}
{% endfor %}
</style>

<script type="text/javascript" src="{% static 'js/photo.js' %}"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'jquery.easing.1.3.js' %}"></script>

{% endblock %}

{% block body_block %}

{% if allPictures %}




<div class="container-fluid">
<div class="row-fluid">
<div class ="span12">



<ul>
{% for image in allPictures %}
	<li><img src="{{ image.picture.url }}">{{ image.picture.name }}</li>
{% endfor %}
</ul>

{% else %}
<p> No Pictures yet, Upload some! </p>

{% endif %}

<form action="/photoapp/upload_picture/", method="POST", enctype="multipart/form-data">
{% csrf_token %}
{{ form.non_field_errors}}
{{ form.picture.erros}} {{ form.picture }}
<input type="submit" value=Upload/>
</div>
</div>
</div>

{% endblock %}
